.home-container {
  background-color: #849696;
  color: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 24px;

}
.product-card {
  background-color: #fff;
  border-radius: 16px;
  padding:  12px 0 ;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-details {
  color: #000;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.product-image{
    height: 100%;
    width: 50%;
}
