.details-container {
  background-color: #bead97;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding-bottom: 12px;
}

.para-2 {
  color: #0081eb;
  font-size: 26px;
}
